# lokalne pozostałości po instalacji i budowie AUR
pkg/
src/
dist/
dev-material/
.flatpak-builder/
build-dir/
*.pkg.tar.zst
*.sig
*.tar.gz
*.bak
*.bak*

# python
__pycache__/
*.py[cod]

# generowane lokalnie
/.SRCINFO

# edytory
*~
*.swp