[Desktop Entry]
Type=Application
Name=Kadr
Name[en]=Kadr
GenericName=Kadrowanie zbiorcze obrazów
GenericName[en]=Batch Image Cropping
Comment=Kadruje wiele obrazów naraz tym samym kadrem
Comment[en]=Crop multiple images at once using the same crop area
Keywords=kadr;crop;przytnij;obraz;zbiorcze;masowe;
Keywords[en]=crop;image;batch;bulk;photo;
Exec=kadr %F
Icon=local.Kadr
Terminal=false
StartupNotify=true
Categories=Graphics;GTK;
MimeType=image/png;image/jpeg;image/gif;image/bmp;image/tiff;image/webp;image/avif;image/heif;image/x-icon;
